NEXT_PUBLIC_SITE_TITLE="luasis"
NEXT_PUBLIC_SITE_DESCRIPTION="luasis is a personal blog and portfolio site."
NEXT_PUBLIC_SITE_BASEURL="http://localhost:3000"

NEXT_PUBLIC_WELCOME_CAPTION="Hello, I am ..."
NEXT_PUBLIC_WELCOME_TITLE="Next.js Astro Sphere"
NEXT_PUBLIC_WELCOME_SUBTITLE="Currently designing products for humans."
NEXT_PUBLIC_WELCOME_PRIMARY_TEXT="Read my blog"
NEXT_PUBLIC_WELCOME_SECONDARY_TEXT="View my careers"
NEXT_PUBLIC_WELCOME_INTRODUCE="Hello! I’m a software programmer who enjoys creating efficient and user-friendly software. Skilled in both front-end and back-end development, I love turning ideas into practical, useful applications. By working with various technologies, I ensure flexible and precise outcomes.

I focus on designing software that prioritizes performance and security, while also ensuring a smooth user experience. I enjoy collaborating with teams and actively participating in every stage of development, from planning to coding, testing, and deployment, often working in agile environments.

I’m always eager to learn new technologies and take on challenges, staying up-to-date with the latest trends and tools in the fast-evolving development world. My goal is to create solutions that truly help people, leveraging my technical expertise to make a meaningful impact."

NEXT_PUBLIC_AUTHOR_NAME="luasenvy"
NEXT_PUBLIC_AUTHOR_EMAIL="luas.envy@gmail.com"
NEXT_PUBLIC_AUTHOR_LINK="$NEXT_PUBLIC_SITE_BASEURL/projects"

NEXT_PUBLIC_NAV_HOME_TEXT="Home"
NEXT_PUBLIC_NAV_CAREERS_TEXT="Careers"
NEXT_PUBLIC_NAV_BLOG_TEXT="Blog"
NEXT_PUBLIC_NAV_PROJECTS_TEXT="Projects"

NEXT_PUBLIC_STACKS="Typescript:https://www.typescriptlang.org;Astro:https://astro.build;Javascript:https://www.javascript.com;Tailwind:https://tailwindcss.com"

NEXT_PUBLIC_SOCIAL_GITHUB="luasenvy:https://github.com/luasenvy"
NEXT_PUBLIC_SOCIAL_LINKEDIN="luasenvy:https://www.linkedin.com/in/luasenvy"
NEXT_PUBLIC_SOCIAL_X="luasenvy:https://x.com/luasenvy"

NEXT_PUBLIC_LOGO_LIGHT="data:image/webp;base64,UklGRpICAABXRUJQVlA4WAoAAAAQAAAAGAAAHwAAQUxQSCMBAAARkHPbtrG92vdn27ZdOrZt27ZZ2UlrdbZtG1W+Krae3FM8+z3vExETAL7SCDeLoA//Ia4/BeiGiLa77qzqgCrVUv2J0cwU/RjNQzeuKioM+8xMjquVQo96XySy0IV3PeuLUeylB2su9E84Ev8TU8m2seMArhDZRIK+sZEAprF3vrY+Qq1EADmGSAfbMXYZ9gdsP4CEv2wqWcR+hgOThJosUm6IDAVusfugHq/ZORQaEfn76sIwhgnnn3w3IlbacnNvYW0Q9N5FY07+mzWjBM6mjwIta6TwDrC57vt3a7WfLX744/a6/iLy983NW2+NSCddA1FaqbqAj9b5F2wX3JwzFv71tmvh7nj6AUdErBV+cHKf/G4NZ+fJWjic8HGQU6gergIAVlA4IEgBAADwCACdASoZACAAPhkKg0EhBgMBgAQAYS2ADuC+AfirUgfIF9N2gDaAN0A4AD9VfRb/YD4AP1A9EB4gMeLmR/6JG3PK/hqz0OY6zQ+MGY/HAAD+/7sATzzhUZeqDKHxgao///zQX2ja3uvTSsNWslw3H5/Qz4149F5Pz+363Imbef/HT9uqRFK8e3//T/OJL//EenssVxyfz+P/79yDRzIblKIs6HstsASlx6+W73V2g/+m/L9iM7zXoH9/kfQo0KFhKEXKiwFB/6Nkvov+Qf5e3Ihm7//HZRuHhofp4QkMX/v9ZOkaawncizO9BmZf/q57QyP+d+5g5kFWLb+ViVxnQfGWNM/kfmM/6pnW43gvpQC+0h3gumbQCZ36+hymxcsu51z/5VECuxs82KlMUSKfJ3mgG2fqTP/quDj9msRYt7V9MEF0xTAA"
NEXT_PUBLIC_LOGO_DARK="data:image/webp;base64,UklGRpwCAABXRUJQVlA4WAoAAAAQAAAAGAAAHwAAQUxQSCMBAAARkHPbtrG92vdn27ZdOrZt27ZZ2UlrdbZtG1W+Krae3FM8+z3vExETAL7SCDeLoA//Ia4/BeiGiLa77qzqgCrVUv2J0cwU/RjNQzeuKioM+8xMjquVQo96XySy0IV3PeuLUeylB2su9E84Ev8TU8m2seMArhDZRIK+sZEAprF3vrY+Qq1EADmGSAfbMXYZ9gdsP4CEv2wqWcR+hgOThJosUm6IDAVusfugHq/ZORQaEfn76sIwhgnnn3w3IlbacnNvYW0Q9N5FY07+mzWjBM6mjwIta6TwDrC57vt3a7WfLX744/a6/iLy983NW2+NSCddA1FaqbqAj9b5F2wX3JwzFv71tmvh7nj6AUdErBV+cHKf/G4NZ+fJWjic8HGQU6gergIAVlA4IFIBAAAQCQCdASoZACAAPhkKhEEhBgMBAAQAYS2ADuC+AfirUgfIF9N2gDaAN0A4AD9VfRb/YD4AP1A9EApwn+S8bOU4sJzS6D6wp285+egAEGI3CsAA/v+/vAsd///7tdTgeDYs45Lcs4pt7/9c+G8/+gGsM7eo3zeNXU4T0/eTuwcrGVjv3prhXRUsP4QoynhMsf/78F+yo1f9fB9dc0SZ4JymxWnv+uxbHtTCEh+ltv0vJOsxw4zIs/+Im5kLFJy4K0//YehRoULCUIuVFgKD/0bJfRf8g/y9uRDN3/+OyjcPDQ/TwhIYv/f6ydI01hO5Fmd6DMy//Vz2hkf879zBzIKsRj28qvBDXX1nmX874+DX/HbwKH+LIMvuf7kT01UeGK4Tnf//vllvbFyy7nXP/lUQK7GzzYqUxRIp8neaAbZ+pM/+q4OP2axFi3tX0wQXTFMAAA=="