---
import ArticleTopLayout from "@layouts/ArticleTopLayout.astro"
import ArticleBottomLayout from "@layouts/ArticleBottomLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import TableOfContents from "./TableOfContents.astro"

const { content } = Astro.props;
const headings = content.rendered.metadata.headings
const { title, summary } = content.data
---

<div class="flex mx-auto max-w-5xl">
  <div class="overflow-y-auto">
    <TopLayout>
      <div class="animate">
        <ArticleTopLayout entry={content}/>
      </div>
    </TopLayout>
    <BottomLayout>
      <div class="animate">
        <ArticleBottomLayout entry={content} />
      </div>
    </BottomLayout>
  </div>
  <div class="animate pt-[7rem]">
    <TableOfContents headings={headings} />
  </div>
</div>