---
// TableOfContentsHeading.astro
const { heading } = Astro.props;
---

<li class="grid gap-3">
  <a class="items-center inline-flex" href={"#" + heading.slug}>
    {heading.text}
  </a>
  {
    heading.children.length > 0 && (
      <ul class="pl-8 grid gap-3">
        {heading.children.map((child) => (
          <Astro.self heading={child} />
        ))}
      </ul>
    )
  }
</li>

<style>
  a {
    opacity: 0.9;
  }

  a:hover {
    opacity: 1;
  }
</style>
