---
import { type CollectionEntry, getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import ArticleTopLayout from "@layouts/ArticleTopLayout.astro"
import ArticleBottomLayout from "@layouts/ArticleBottomLayout.astro"

// Create the static blog pages
export async function getStaticPaths() {
	const entries = await getCollection("entries")
	return entries.map((entry) => ({
		params: { slug: entry.slug },
		props: entry,
	}))
}

// Get the requested post
type Props = CollectionEntry<"entries">
const entry = Astro.props
const { title, summary } = entry.data
---

<PageLayout title={title} description={summary}>
  <TopLayout>
    <div class="animate">
      <ArticleTopLayout entry={entry}/>
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <ArticleBottomLayout entry={entry} />
    </div>
  </BottomLayout>
</PageLayout>