---
import Container from "@components/Container.astro";
---

<div class="pt-28 pb-5">
  <Container size="md">
    <slot />
  </Container>
</div>
<div class="w-full mx-auto px-5 max-w-screen-md">
  <hr class="animate mt-4 mb-8 border-black/20 dark:border-white/20" />
</div>
