.meteors .shower {
  @apply absolute inset-0 top-0;
  @apply left-1/2 -translate-x-1/2;
  @apply w-screen aspect-square;
}

.meteors .meteor {
  @apply animate-meteor;
  @apply absolute top-1/2 left-1/2 w-px h-[75vh];
  @apply bg-gradient-to-b from-black dark:from-white to-transparent;
}

.meteors .shower.ur {
  @apply rotate-45;
}

.meteors .shower.dr {
  @apply rotate-135;
}

.meteors .shower.dl {
  @apply rotate-225;
}

.meteors .shower.ul {
  @apply rotate-315;
}